html {
    font-family: Lato, sans-serif;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    margin: 0;
}

.navbar {
    max-width: 640px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
}

.navbar__brand {
    display: flex;
    align-items: center;
}

.navbar__logo {
    margin-right: 30px;
    max-width: 80px;
}

.navbar__navigation {
    list-style: none;
    align-items: center;
    padding: 0;
    display: flex;
    flex-direction: row;
    color: rgb(37, 116, 153);
}

.navbar__navigation-item {
    margin-left: 20px;
}

.navbar__link {
    text-decoration: none;
    font-size: 0.8em;
    padding: 5px;
    color: inherit;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border 0.3s ease-in;
}

.navbar__link:hover {
    border: 2px solid rgb(37, 116, 153);
}

.flashed_window {
    margin: 30px 0;
    padding: 0;
}

.flashed_window p {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px 10px;
    margin: 0;
    font-weight: bold;
    color: rgb(37, 116, 153);
}

.main {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 20px;
}

.form {
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
}

.form__input {
    width: 100%;
}

.form__label {
    display: block;
    margin-bottom: 10px;
}

.form__textarea {
    width: inherit;
    font-size: 18px;
    padding: 12px 20px;
    border: none;
    background-color: rgb(217, 236, 243);
    border-bottom: 10px;
    border-radius: 5px;
}

.form__submit {
    background-color: rgb(37, 116, 153);
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 8px;
    color: aliceblue;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.form__submit:hover {
    background-color: rgb(48, 149, 196);
}

.entry {
    margin-top: 50px;

}

.entry__user {
    margin-bottom: 2px;
    color: rgb(37, 116, 153);

}

.entry__title {
    display: inline;
    font-size: 18px;
}

.entry__date {
    color: lightslategray;
    margin-left: 5px;
}

.entry__content {
    font-size: 16px;
    line-height: 150%;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form__input {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    background-color: rgb(167, 189, 211);
    border-radius: 3px;
}

.login-form__submit {
    margin-top: 20px;
    background-color: rgb(37, 116, 153);
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 8px;
    color: aliceblue;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.login-form__submit:hover {
    background-color: rgb(48, 149, 196);
}

.footer {
    background-color: rgb(18, 46, 59);
    padding: 40px 0;
    margin: 50px 0 0 0;
    border-top: 4px solid black;
    color: white;
    font-size: 12px;
}

.footer__content {
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.footer .left {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.footer .right {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.footer__column {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.footer__item {
    margin-bottom: 10px;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.footer__item:hover {
    text-decoration: underline;
}