{% extends 'base.html' %}

{% block content %}
    <form method="POST" class="login-form">
        <label class="login-form__label">
            Username
            <input type="text" name="username">
        </label>
        <label class="login-form__label">
            Password
            <input type="password" name="password">
        </label>
        <button class="login__submit" type="submit">Login</button>
    </form>
<p>
    New here?
    <a href="{{ url_for('signup') }}"> Sign up</a> instead!
</p>
{% endblock %}
 